.expense-main{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid rgb(195, 182, 182);
    font-size: 18px;
    height: 40px;
    align-items: center;
}

.expense-div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.expense-box{
    background-color: blue;
    color: white;
    padding: 3px 8px;
    font-size: 13px;
    border-radius: 15px;
}

